.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: black;
    padding: 0.5em;
    border: 1px solid black;
  }
  
  .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
  }

  /* table {
    border: 1px solid black;
    position: center;
  } */